.backdrop {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 250ms $timing-function;

    overflow-y: scroll;


    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;

    .modal {
        transform: translate(-50%, -50%) scale(1.1);
    }

}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms $timing-function;

    max-width: 450px;
    max-height: 609px;

    @media screen and (min-width: 1200px) {
        max-width: 528px;
        max-height: 581px;
    }

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: $secondary-color;
}

.modal__hidden-btn {
    position: absolute;
    top: 8px;
    right: 8px;

    display: flex;
    align-items: center;
    height: 30px;

    border-radius: 50%;
    background: $secondary-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.modal__btn-icon {
    width: 18px;
    height: 18px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        fill: $accent-color;
    }
}

.modal__group {
    padding: 40px;

    text-align: center;

    @media screen and (max-width: 369px) {
        padding: 40px 25px;
    }
}

.modal__title {
    margin-bottom: 12px;

    font-size: 20px;
    line-height: calc(23 / 20);
    letter-spacing: 0.03em;
}

.modal__item {
    margin-bottom: 10px;
}

.modal__field {
    position: relative;

    display: flex;
    flex-direction: column;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;
    text-align: left;

    color: $grey-color;
}

.modal__field>input {
    margin-top: 4px;
    padding: 12px 42px;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &:focus-within,
    &:focus-visible {
        border: 1px solid $accent-color;
        outline-style: none;
    }
}



.modal__field>svg {
    position: absolute;
    left: 12px;
    bottom: 11px;
}

.modal__field>input:focus-within+svg {
    fill: $accent-color;
}

.modal__textarea {
    margin-bottom: 20px;

    text-align: left;
}

.modal__textarea-label {
    display: flex;
    flex-direction: column;

    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.01em;

    color: $grey-color;
}

.modal__textarea-label>textarea {
    margin-top: 4px;
    padding: 12px 16px;

    resize: none;

    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;

    &::placeholder {
        font-size: 12px;
        line-height: calc(14 / 12);
        letter-spacing: 0.01em;

        color: rgba(117, 117, 117, 0.5);
    }
}

.modal__textarea-label:focus-within>textarea,
.modal__textarea-label:focus-visible>textarea {
    border: 1px solid $accent-color;
    outline-style: none;
}

.modal__checkbox {
    margin-bottom: 30px;
}

.modal__checkbox label {
    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;

    color: $grey-color;
}

.modal__checkbox svg {
    position: relative;
    bottom: -3px;

    margin-right: 7px;

    border: 2px solid $primary-color;
    border-radius: 3px;
    fill: transparent;
}

.modal__checkbox>label>input:checked+svg {
    background-color: $accent-color;
    border-color: $accent-color;
    fill: $secondary-color;
}


.modal__checkbox a {
    text-underline-offset: 3px;

    color: $accent-color;
}

.form__agree {
    font-weight: 400;
    font-size: 12px;
    line-height: calc(14 / 12);
    letter-spacing: 0.03em;
    color: #757575;
}

@media screen and (max-width: 480px) {
    .form__agree {
        font-weight: 400;
        font-size: 12px;
        line-height: calc(14 / 12);

    }
}

.form__link {
    color: #2196f3;
}

.modal__btn {
    padding: 10px 52px;

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;

    background-color: $accent-color;
    color: $secondary-color;
}

@media screen and (max-width: 768px) {
    .backdrop {
        display: flex;
        padding: 0px 15px 0px 15px;
        justify-content: center;
        align-items: center;
    }

    .modal {
        position: relative;
        max-width: 450px;
    }

    .modal__hidden-btn{
        position: absolute;

        top: 0;
        right: o;
    }
}

@media screen and (min-width: 768px) {
    .modal {
        top: 50%;
        left: 50%;
        width: 528px;
        min-height: 581px;
        transform: translate(-50%, -50%);
    }

    .modal__hidden-btn {
        display: flex;
        position: absolute;
        justify-content: center;
        align-items: center;
    }

    .modal {
        position: absolute;
    }
}