.footer {
    background: $common-color;
    padding: 60px 0px;

    &__container {
        margin: 0px auto;
        max-width: 1200px;
        padding: 0px 15px;
        display: block;
        align-items: baseline;

        @media screen and (min-width: 768px) {
            display: flex;
            flex-wrap: wrap;
        }

        @media screen and (min-width: 768px) and (max-width: 1200px) {
            justify-content: center;
        }
    }
}

.address-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 767px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 768px) and (max-width: 1200px) {
        margin-right: 165px;
    }

    @media screen and (min-width: 1200px) {
        display: block;
        margin-right: 70px;
    }

    &__logo {
        color: $accent-color;
        font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 24px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        margin-bottom: 20px;

        @media screen and (min-width: 1200px) {
            font-size: 26px;
            line-height: 1.19;
        }
    }
}

.address-container__logo--white {
    color: $secondary-color;
}

.footer-contacts {
    font-style: inherit;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    &__list {
        display: flex;
        flex-direction: column;
        gap: 9px;

        @media screen and (max-width: 1200px) {
            align-items: center;
            gap: 8px;
        }
    }
}

.footer__contact--light {
    color: $secondary-color;
    transition: color 250ms $timing-function;
}

.footer__contact--dark {
    color: #FFFFFF99;
    transition: color 250ms $timing-function;
}

.footer__contact--light:hover,
.footer__contact--light:focus,
.footer__contact--dark:hover,
.footer__contact--dark:focus {
    color: $accent-color;
}

.invite-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 768px) {
        margin-bottom: 60px;
    }

    @media screen and (min-width: 1200px) {
        display: block;
        margin-right: 93px;
    }

    &__title {
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: $secondary-color;
        margin-bottom: 20px;
    }

    &__list {
        display: flex;
        gap: 10px;
    }

    &__link {
        display: flex;
        width: 44px;
        height: 44px;
        align-items: center;
        border-radius: 50%;
        justify-content: center;
        background: rgba(255, 255, 255, 0.1);
    }

    &__social-icon {
        fill: $secondary-color;
    }
}

.invite-container__link:hover,
.invite-container__link:focus {
    background-color: $accent-color;
    transition: background-color 250ms $timing-function;
}

.mailing-form {
    @media screen and (min-width: 768px) and (max-width: 1200px) {
        margin: 60px 150px 0px;
    }
}

.mailing-form__title {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $secondary-color;
    margin-bottom: 20px;

    @media screen and (max-width: 1200px) {
        text-align: center;
    }
}

.mailing-form__field-wrapper {
    position: relative;
    display: flex;

    @media screen and (max-width: 1200px) {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
}

.mailing-form__field {
    border: solid 1px rgba(255, 255, 255, 0.3);
    background-color: transparent;
    border-radius: 4px;
    padding: 15px 16px;
    width: 358px;
    outline: transparent;
    margin-right: 12px;
    color: $secondary-color;

    @media screen and (max-width: 768px) {
        width: 100%;
        max-width: 450px;
        margin-right: 0px;
    }
}

.mailing-field::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

.mailing-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 0px;
    width: 200px;
    background-color: $accent-color;
    border-color: transparent;
    border-radius: 4px;
    padding: 10px 28px;
    color: $secondary-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    cursor: pointer;
}

.mailing-button__icon {
    fill: $secondary-color;
}