.network {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;

}

.network__group {
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: var(--second-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}


.network__icon {
    transition: background-color 250ms $timing-function;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;

    border-radius: 50%;
    background-color: rgba(255, 255, 255, 10%);

    &:hover,
    &:focus {
        background-color: $accent-color;
    }

    &--team {
        background-color: $secondary-color;
    }
}

.network__icon--team:hover>.network__svg--team {
    fill: $secondary-color;
}

.network__svg {
    fill: $secondary-color;

    &--team {
        transition: fill 250ms $timing-function;

        fill: $icon-color;
    }
}