body {
    font-family: $main-font;
    color: $primary-color;

    &.modal-open {
        overflow: hidden;
    }

    &.menu-open {
        overflow: hidden;
    }
}

body.is-open {
    overflow: hidden;
}

button {
    cursor: pointer;
    font-family: inherit;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
    margin: 0;
    padding: 0;
}

 a {
     text-decoration: none;
     display: inline-block;
 }

 ul {
     list-style: none;
     padding: 0px;
     margin: 0px;
 }